# Generated UniFFI Java
src/main/java/org/
src/main/java/uniffi/

# Native library copied by generate_bindings.sh
/lib/*.so
/lib/*.dylib
/lib/*.dll

# Gradle
.gradle/
build/
local.properties

.idea/
.DS_Store
